{% extends 'student/design.html' %}
{% block userblock %}
{% load staticfiles %}
<style>
body{

opacity:0.5;
}
          #n1{
      width:250px;
       position:absolute;
       margin-left:500px;
     margin-top:200px;
      background-color:blue;
      text-align:center;
      opacity:1.0;

    }
    #n2{

     width:230px;
     height:45px;
     position:absolute;
     margin-left:500px;
     margin-top:290px;
     background-color:white;
     font-size:35px;
     text-align:center;
     padding:10px;
      opacity:1.0;

     }



</style>
<div>
<div id="n1">
<h1>DOWNLOAD</h1>
</div>
<div id="n2">
    <a href="{{object.doc.url}}" download>click</a>
</div>
</div>
{% endblock %}